html, body
  height 100%
  padding 0
  margin 0
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  background #FAF7F3
  font-family Arial, Roboto, "Droid Sans", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif

input,
textarea,
select
  outline none

html,
a,
input,
textarea
  -webkit-font-smoothing  antialiased
  text-shadow  1px 1px 1px rgba(0, 0, 0, 0.004)

span img
  width 100%
  max-width 800px
  height auto

pre
  width 80%
  font-size 18px
  background rgb(234, 229, 222)
  border-radius 10px
  overflow-x auto
  padding 10px 10px 10px 20px


.ReactModal__Overlay
  -webkit-perspective 600
  perspective 600
  opacity 0
  overflow-x hidden
  overflow-y auto
  background-color rgba(0, 0, 0, 0.5)


.ReactModal__Overlay--after-open
  opacity 1
  transition opacity 150ms ease-out


