@import 'vendor'
@import 'profile'

side-menu-width-pc = 300px

html, body
  height 100%
  padding 0
  margin 0
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  background #FAF7F3

html, a
  -webkit-font-smoothing  antialiased text-shadow  1px 1px 1px rgba(0, 0, 0, 0.004)

h1
  color #39AEC6

#container
  height 100%
  display -ms-flexbox
  display -webkit-box
  display -moz-box
  display -ms-box
  display box
  -ms-flex-direction row
  vendor('box-orient', horizontal)

#side-menu
  background #A5ECFA
  width side-menu-width-pc
  -ms-flex 0 side-menu-width
  vendor('box-flex', 0)

  img.logo
    width 120px
    height auto
    opacity 0.2
    display block
    margin 30px auto 0 auto

#content
  -ms-flex 1
  vendor('box-flex', 1)
  text-shadow -1px 1px 0 rgba(255, 255, 255, 1)
  color #45828E

#articles
  max-width 800px
  word-break break-all
  padding 20px 30px 100px 30px

.article
  line-height 28px
  margin 80px 0 0 0
  vendor('transition', all 0.8s ease)
  vendor('transform', scale(1,1))

.deleted
  opacity 0
  vendor('transition', all 0.8s ease)
  vendor('transform', scale(0,0))

.hidden
  display none
  
@media screen and (min-width 769px)
  #content
    overflow-y auto
    max-height 100%

@media screen and (max-width 768px)
  #container
    -ms-flex-direction column
    vendor('box-orient', vertical)

  #side-menu
    width 100%
    -ms-flex 0 100%

.post-infomation
  img.author-avatar-mini
    width 20px
    height 20px
    border-radius 50%
    margin 0 10px 0 0
    border solid 3px #FFF

  span.author-name, span.created-at
    font-size 80%
    color #95A5A6
    margin-right 20px



a.button-delete
  display block
  width 40px
  border-radius 3px
  border solid 1px #FAF7F3
  padding 0px 6px
  text-decoration none
  color #FFF
  text-align center
  vendor('transition', all 0.5s ease)
  background #95A5A6
  text-shadow none
  font-size 12px

a.button-delete:hover
  background #A5ECFA
