#profile
  /*background #76C7D7*/
  padding 50px 0 0 0
  width 100%

  img
    width 120px
    height auto
    border-radius 50%
    margin 0 auto
    display block
    border solid 2px #FAF7F3

  a.button-login
    display block
    width 120px
    margin 30px auto
    border-radius 5px
    border solid 1px #FAF7F3
    padding 15px 20px
    text-decoration none
    color #FFF
    text-align center
    font-weight bold
    vendor('transition', all 0.5s ease)

  a.button-login:hover
    background #FAF7F3
    color #A5ECFA


  p.please-login
    color #FFF
    text-align center