#profile
  /*background #76C7D7*/
  padding 20px 0 0 0
  width 100%
  text-shadow 1px -1px 0 rgba(0,0,0,.2)

  img
    width 80px
    height auto
    border-radius 50%
    margin 0 auto
    display block
    border solid 3px #FAF7F3

  h2.greeting
    color #FFF
    text-align center
    font-weight bold

  a.button-login
    display block
    width 120px
    margin 30px auto
    border-radius 5px
    border solid 3px #FAF7F3
    padding 15px 20px
    text-decoration none
    color #FFF
    text-align center
    font-weight bold
    vendor('transition', all 0.5s ease)

  a.button-login:hover
    background #FAF7F3
    color #A5ECFA
    text-shadow -1px 1px 0 rgba(255,255,255,.1)     

  p.please-login
    color #FFF
    text-align center
    font-weight bold